/* ESTILO BASE DA PÁGINA */
body {
  background: url('../img/bg-city.gif') no-repeat;
  font-family: 'Segoe UI', monospace, sans-serif;
  width: 100%;
}

/* FAIXA HORIZONTAL SUPERIOR */
span {
  background-color: rgb(45, 45, 45);
  padding: 3px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
  
/* CABEÇALHO DA PÁGINA */
.container {
  align-items: center;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px 0;
  width: 60%;
}
  
.cabecalho {
  text-transform: uppercase;
}
  
h1 {
  font-size: 3rem;
  padding-bottom: 15px;
}
  
.cabecalho p {
  font-size: 1.4rem;
  padding: 0;
}
  
/* MENU DE NAVEGAÇÃO */
ul {
  display: flex;
  list-style: none;
}

li {
  height: 75px;
  padding: 15px;
  text-align: center;
  transition: 1s;
  width: 70px;
}

/* ANIMAÇÃO DO MENU DE NAVEGAÇÃO */
li:hover {
  background: rgb(231, 210, 87);
}

/* CONTEÚDO PRINCIPAL DA PÁGINA */
main {
  align-items: stretch;
  background-color: cadetblue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 50px 20px;
  width: 60%;
}
  
/* SEÇÃO 1 - IMAGEM */
.imagem {
  border-radius: 50%;
  padding: 20px 0;
  width: 36%;
}
  
/* SEÇÃO 2 - APRESENTAÇÃO */
.apresentacao {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 5px;
  width: 27%;
}
  
h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 18px 10px;
  text-transform: uppercase;
}
  
.preferencias img {
  margin-right: 10px;
}
  
p {
  font-size: 1.8rem;
  line-height: 3rem;
  padding-left: 10px;
}
  
.preferencias p::before {
  content: "⭐ ";
}
  
/* SEÇÃO 3 - CONTATO */
.curriculo {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1.5rem;
  line-height: 1;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 27%;
}

.curriculo img {
  padding: 20px 0;
}
  
legend {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 12px 0;
  text-transform: initial;
}
  
/* RODAPÉ DA PÁGINA */
footer p {
  color: rgb(255, 255, 255);
  filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}