@media screen and (min-width: 350px) and (max-width: 750px) {
  /* ESTILO BASE DA PÁGINA */
  body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
    /* CABEÇALHO DA PÁGINA */
  .container {
    flex-direction: column;
    margin: 0;
    padding: 15px 0;
    width: 100%;
  }
  
  h1 {
    font-size: 3rem;
    padding: 0;
  }
  
  .cabecalho p {
    font-size: 1.4rem;
    padding: 0;
  }
  
  /* MENU DE NAVEGAÇÃO */
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    padding: 10px 0 0 0;
    text-align: center;
  }
  
  /* CONTEÚDO PRINCIPAL DA PÁGINA */
  main {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  
  /* SEÇÃO 1 - IMAGEM */
  .imagem img {
    border-radius: 50%;
    padding-bottom: 20px;
    width: 100%;
  }
  
  /* SEÇÃO 2 - APRESENTAÇÃO */
  .apresentacao {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 5px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 12px;
    text-transform: uppercase;
  }
  
  .preferencias img {
    margin-right: 10px;
  }
  
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 10px;
  }
  
  .preferencias p::before {
    content: "⭐ ";
  }
  
  /* SEÇÃO 3 - CONTATO */
  .curriculo {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .curriculo img {
    padding-top: 12px;
  }
  
  legend {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 12px 0;
    text-transform: initial;
  }
  
  /* RODAPÉ DA PÁGINA */
  footer p {
    color: rgb(255, 255, 255);
    filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
    font-size: 1rem;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
}